{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Monster products</h1>
    <p class="lead">Tous les produits dont vous rêvez.</p>
  </div>
</div>
<div class="container">
  <h2 class="mb-5">Nos derniers produits</h2>
  <div class="products-list-container">
    {% for product in products %}
      {{ include('product/product_list_item.html.twig', { product: product }) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
