{% extends 'base.html.twig' %}

{% block title %}Les produits en promotion{% endblock %}

{% block body %}
<div class="container">
  <h2 class="mb-5 mt-5">Les produits en promotion</h2>
  <div class="products-list-container">
    {% for product in products %}
      {{ include('product/product_list_item.html.twig', { product: product }) }}
    {% endfor %}
  </div>
</div>
{% endblock %}